body{
  max-width: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
  font:{
    // family:$opensans;
    font-family: $montserrat;
    weight:300;
  }
}
.login-view{
  width:100%;
  max-width:100%;
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-content{
  width: 350px;
  margin: 80px auto 0px auto;
  &__brand{
    img{
      width:150px;
    }
  }
  &__form{
    margin-top: 20px;
    padding: 0 20px;
    .form-group{
      margin-top: 20px;
      position: relative;
      &:last-child{
        margin-top: 40px;
      }
    }
  }
}

.login-label{
  font-size:12px;
  display: block;
  position: absolute;
  transition: all .1s ease-in-out;
  top:20px;
}

.white{
  color:#fff;
}


.input-line{
  width:100%;
  background:none;
  border:{
    top-width: 0px;
    left-width:0px;
    right-width:0px;
    bottom-width:1px;
    style: solid;
    color:#fff;
  }
  box-shadow: none;
  font-size: 18px;
  margin-top: 20px;
  &:focus{
    border-bottom-width: 2px;
    outline: none;
    box-shadow: none;
    ~.login-label{
      transition: top .3s ease-in-out;
      top:-0px;
      font-weight: 700;
      font-size:14px;
    }
  }
  &:valid{
    // ~.login-label{
    //   top:-0px;
    //   font-weight: 700;
    //   font-size:14px;
    // }
  }
}

.login-info{
  margin-top: 40px;
  a{
    display: block;
    &:last-child{
      margin-top: 10px;
    }
    &:hover{
      color: #fff!important;
    }
  }
}

@media (max-width:768px) {
  .login-content{
    width: 100%;
    padding: 0px 45px;
  }
}

/*DASHBOARD SECTION */
.dashboard-wrapper{
  width: 100%;
}
.dashboard{
  width: calc(100% - 280px);
  position: absolute;
  right: 0;
  top: 0;
  &__home-details{
    background-color: $blue;
    padding: 60px 0px 20px 0px;
    &__title{
      font-size: 18px;
      color: #e8e8e8;
      font-family: $montserrat;
    }
  }
}

@media (max-width:768px) {
  .dashboard{
    position: static;
    width: 100%;
  }
}

.main-balance{
  font-size: 40px;
  font-family: $montserrat;
  margin: 20px 0px;
}

.line-card{
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.08);
  padding: 20px;
  margin: 10px 0px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  position: relative;
  &__icon{
    display: inline-block;
    img{
      width: 40px;
    }
  }
  &__title{
    display: inline;
    font-size: 28px;
    color: #453E4A;
    margin-left: 20px;
    position: absolute;
    top: 16px;
  }
  &:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 8px rgba(0,0,0,0.08);
    cursor: pointer;
  }
}

@media (max-width:768px) {
  .line-card{
    margin: 5px 0px;
    box-shadow: none;
  }
}

/*Menu */
.toggle-menu-button{
  width:60px;
  height: 60px;
  position: absolute;
  left: 10px;
  top:10px;
  z-index: 9;
  &:hover{
    cursor: pointer;
  }
  .line{
    background: #fff;
    height: 5px;
    transition: all 0.3s;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    left: 0;
    &:nth-child(1){
      top:0px;
      width:90%;
    }
    &:nth-child(2){
      top: 15px;
      width: 40%;
    }
    &:nth-child(3){
      top: 30px;
      width: 60%;
    }
  }
  &.open{
    .line{
      background: #1d1d1d;
      &:nth-child(1){
        width: 90%;
        top: 15px;
        transform: rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
        left: -200px;
      }
      &:nth-child(3){
        width: 90%;
        top: 15px;
        transform: rotate(-135deg);
      }
    }
  }
}

.menu{
  display: fixed;
  width: 280px;
  height: 100vh;
  max-height: 100vh;
  padding: 20px 0px;
  -webkit-box-shadow: 3px 0px 9px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 3px 0px 9px 2px rgba(0,0,0,0.05);
  box-shadow: 3px 0px 9px 2px rgba(0,0,0,0.05);
  z-index: 8;
  background: #fff;
  &__profile{
    position: relative;
    padding: 0px 10px;
    &__img{
      width:60px;
      height: 60px;
      background-size: cover;
      border-radius: 60px;
      display: inline-block;
    }
    &__details{
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 80px;
      font:{
        size:18px;
        weight:700;
      }
      color:$blue;
    }
  }
  &__list{
    list-style: none;
    padding: 20px 0px 0px 0px;
    li{
      a{
        color: #1d1d1d;
        font-weight: 18px;
        display: block;
        padding: 10px 20px ;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        &:hover{
          background-color: $orange;
          color: #fff;
        }
        &.submenu-link:hover{
          background-color: $orange;
          color: #fff;
        }
        span{
          margin-left: 10px;
        }
        &.active{
          background-color: $orange;
          color: #fff;
        }
      }
    }
  }
}

.submenu{
  background: #f0f0f0;
  list-style: none;
  padding: 0;
  // display: none;
  li{
    a{
      &:hover{
        transition: background-color 0.3s ease-in-out;
        background-color: $dark-orange;
      }
    }
  }
  &.active{
    display: block;
  }
}

@media (min-width:768px) {
  .toggle-menu-button{
    display: none;
  }
}
@media (max-width:768px) {
  .menu{
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    position: absolute;
    left: -100%;
    transition: all 0.3s ease-in-out;
    &.show{
      position: fixed;
      width: 100%;
      left: 0px;
    }
    &__profile{
      &__img{
        display: block;
        margin: 0 auto;
      }
      &__details{
        display: block;
        position: static;
        margin-top:10px;
      }
    }
    &__list{
      margin-top: 20px;
      li{
        a{
          font-size: 22px;
          border-bottom: none;
          padding: 20px;
        }
      }
    }
  }
}
